<h1>FURIMA テストページ</h1>
<p>アプリケーションが正常に動作しています！</p>

<div>
  <h2>基本情報</h2>
  <ul>
    <li>Rails バージョン: <%= Rails.version %></li>
    <li>環境: <%= Rails.env %></li>
    <li>現在時刻: <%= Time.current %></li>
  </ul>
</div>

<div>
  <h2>リンクテスト</h2>
  <ul>
    <li><%= link_to "ログイン", new_user_session_path %></li>
    <li><%= link_to "新規登録", new_user_registration_path %></li>
    <li><%= link_to "商品新規作成", new_item_path %></li>
  </ul>
</div>

<div>
  <h2>商品一覧</h2>
  <% if @items.present? %>
    <p>商品数: <%= @items.count %></p>
    <% @items.each do |item| %>
      <div>
        <h3><%= item.name %></h3>
        <p>価格: <%= item.price %>円</p>
      </div>
    <% end %>
  <% else %>
    <p>商品はありません</p>
  <% end %>
</div>